<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>28</integer>
		<key>collection_id</key>
		<integer>1</integer>
		<key>shape_type</key>
		<string>circle</string>
		<key>radius</key>
		<real>79.74090696679583</real>
		<key>label</key>
		<string></string>
		<key>color</key>
		<string></string>
		<key>visibility</key>
		<integer>1</integer>
		
		<key>coords</key>
		<array>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>audio_zones_id</key>
				<integer>28</integer>
				<key>lat</key>
				<real>53.20305082030703</real>
				<key>lng</key>
				<real>5.790363550186158</real>
			</dict>
		</array>
		<key>effects</key>
		<array>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>track_id</key>
				<integer>1</integer>
				<key>audio_zone_id</key>
				<integer>28</integer>
				<key>fadeIn</key>
				<integer>50</integer>
				<key>fadeOut</key>
				<integer>50</integer>
				<key>volume</key>
				<integer>50</integer>
				<key>loopable</key>
				<integer>0</integer>
				<key>playonce</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>tracks</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>audio_zone_id</key>
			<string></string>
			<key>collection_id</key>
			<integer>1</integer>
			<key>audio_url</key>
			<string>audio/2ebb79d229c532201639c5173321552d.mp3</string>
			<key>name</key>
			<string>arpeggio_100.mp3</string>
			<key>length</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>29</integer>
		<key>collection_id</key>
		<integer>1</integer>
		<key>shape_type</key>
		<string>circle</string>
		<key>radius</key>
		<real>164.0579154243237</real>
		<key>label</key>
		<string></string>
		<key>color</key>
		<string></string>
		<key>visibility</key>
		<integer>1</integer>
		<key>coords</key>
		<array>
			<dict>
				<key>id</key>
				<integer>29</integer>
				<key>audio_zones_id</key>
				<integer>29</integer>
				<key>lat</key>
				<real>53.20310223122449</real>
				<key>lng</key>
				<real>5.790250897407533</real>
			</dict>
		</array>
		<key>effects</key>
		<array>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>track_id</key>
				<integer>2</integer>
				<key>audio_zone_id</key>
				<integer>29</integer>
				<key>fadeIn</key>
				<integer>50</integer>
				<key>fadeOut</key>
				<integer>50</integer>
				<key>volume</key>
				<integer>50</integer>
				<key>loopable</key>
				<integer>0</integer>
				<key>playonce</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>tracks</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>audio_zone_id</key>
			<string></string>
			<key>collection_id</key>
			<integer>1</integer>
			<key>audio_url</key>
			<string>audio/726aaae3f76606f82577db781ff4e21e.mp3</string>
			<key>name</key>
			<string>brass_100.mp3</string>
			<key>length</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>30</integer>
		<key>collection_id</key>
		<integer>1</integer>
		<key>shape_type</key>
		<string>circle</string>
		<key>radius</key>
		<real>276.4571643602682</real>
		<key>label</key>
		<string></string>
		<key>color</key>
		<string></string>
		<key>visibility</key>
		<integer>1</integer>
		<key>coords</key>
		<array>
			<dict>
				<key>id</key>
				<integer>30</integer>
				<key>audio_zones_id</key>
				<integer>30</integer>
				<key>lat</key>
				<real>53.20308937850092</real>
				<key>lng</key>
				<real>5.790288448333741</real>
			</dict>
		</array>
		<key>effects</key>
		<array>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>track_id</key>
				<integer>3</integer>
				<key>audio_zone_id</key>
				<integer>30</integer>
				<key>fadeIn</key>
				<integer>50</integer>
				<key>fadeOut</key>
				<integer>50</integer>
				<key>volume</key>
				<integer>50</integer>
				<key>loopable</key>
				<integer>0</integer>
				<key>playonce</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>tracks</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>audio_zone_id</key>
			<string></string>
			<key>collection_id</key>
			<integer>1</integer>
			<key>audio_url</key>
			<string>audio/dc20aa07dcc29df13ae6c66ff429616d.mp3</string>
			<key>name</key>
			<string>percussion_100_1.mp3</string>
			<key>length</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>31</integer>
		<key>collection_id</key>
		<integer>1</integer>
		<key>shape_type</key>
		<string>circle</string>
		<key>radius</key>
		<real>402.4659761559797</real>
		<key>label</key>
		<string></string>
		<key>color</key>
		<string></string>
		<key>visibility</key>
		<integer>1</integer>
		<key>coords</key>
		<array>
			<dict>
				<key>id</key>
				<integer>31</integer>
				<key>audio_zones_id</key>
				<integer>31</integer>
				<key>lat</key>
				<real>53.20319220018164</real>
				<key>lng</key>
				<real>5.790159702301026</real>
			</dict>
		</array>
		<key>effects</key>
		<array>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>track_id</key>
				<integer>4</integer>
				<key>audio_zone_id</key>
				<integer>31</integer>
				<key>fadeIn</key>
				<integer>50</integer>
				<key>fadeOut</key>
				<integer>50</integer>
				<key>volume</key>
				<integer>50</integer>
				<key>loopable</key>
				<integer>0</integer>
				<key>playonce</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>tracks</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>audio_zone_id</key>
			<string></string>
			<key>collection_id</key>
			<integer>1</integer>
			<key>audio_url</key>
			<string>audio/a22135a7c60fc34a02048a069f8e0966.mp3</string>
			<key>name</key>
			<string>percussion_100_2.mp3</string>
			<key>length</key>
			<string></string>
		</dict>
	</dict>
</array>
</plist>
